.container-video-detail-page {
  display: flex;
  height: 100vh;
}
.products-section {
  display: flex;
  width: 25%;
  padding: 10px 0;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.products-section::-webkit-scrollbar {
  display: none;
}
.add-product-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px 40px;
}
.video-section {
  width: 50%;
  display: flex;
  justify-content: center;
}
.embed-video {
  max-height: 500px;
}
.comments-section {
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.comments-list {
  overflow-y: scroll;
  scrollbar-width: none;
}
.comments-list::-webkit-scrollbar {
  display: none;
}
.timestamp-comments {
  font-style: italic;
  font-size: 13px;
}
